<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class='container-list'>
            <ul class="first-list">
                <li class="allcaps">GIFT CARDS</li>
                <li class="allcaps">PROMOTIONS</li>
                <li class="allcaps">FIND A STORE</li>
                <li class="allcaps">BECOME A MEMBER</li>
                <li class="allcaps">JOURNAL</li>
                <li class="allcaps">SEND US FEEDBACK</li>
            </ul>

            <ul class="second-list">
                <li class="allcaps">GET HELP</li>
                <li class="lowercase">Order Status</li>
                <li class="lowercase"> Shipping and Delivery</li>
                <li class="lowercase">Returns</li>
                <li class="lowercase"> contacts us</li>
            </ul>

            <ul class="third-list">
                <li class="allcaps">ABOUT</li>
                <li class="lowercase">News</li>
                <li class="lowercase">Careers</li>
                <li class="lowercase">Investors</li>
                <li class="lpowercase">Sustainability</li>
            </ul>
            <ul class="sub">
                <h3>Subscribe to Our Newsletter</h3>
                <p>Stay updated with the latest news and offers!</p>
                <form action="_SUBSCRIPTION_HANDLER_URL" method="post">
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </ul>

            <ul class="sm">
                <h3>Follow us on</h3>
                <li><img class ='icons' src= '/images/fb.png' ></li>
                <li><img class ='icons' src= '/images/yt.png' ></li>
                <li><img class ='icons' src= '/images/med.png' ></li>
                <li><img class ='icons' src= '/images/ig.png' ></li>
                <li><img class ='icons' src= '/images/x.png' ></li>
                <li><img class ='icons' src= '/images/pin.png' ></li>
            
            </ul>

    </div>
    </footer>
</body>
</html>