<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class='container-list'>
            <ul class="first-list">
                <a href="/top-20-bestsellers"><li>Ny Times Best Selling</li></a>
                <li class="allcaps">Help</li>
                <li class="lowercase"> News</li>
                <li class="lowercase">About</li>
                <li class="lowercase"> Contacts us</li>

            </ul>


            <ul class="sub">
                <h3>Subscribe to Our Newsletter</h3>
                <p>Stay updated with the latest news!</p>
                <form action="_SUBSCRIPTION_HANDLER_URL" method="post">
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </ul>

            <ul class="sm">
                <h3>Follow us on</h3>
                <li><img class ='icons' src= '/images/fb.png' ></li>
                <li><img class ='icons' src= '/images/yt.png' ></li>
                <li><img class ='icons' src= '/images/med.png' ></li>
                <li><img class ='icons' src= '/images/ig.png' ></li>
                <li><img class ='icons' src= '/images/x.png' ></li>
                <li><img class ='icons' src= '/images/pin.png' ></li>
            
            </ul>

    </div>
    </footer>
</body>
</html>