<!DOCTYPE html>
<html lang="en">
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE</title>
    <link rel="stylesheet" href="styles.css">
</head>
<<<<<<< Updated upstream

<body>

=======
<body>
 <!-- Navigation Bar -->
 <nav>
 <ul>
    <li><%= Name %></li>
    <a href="/favorites"><li>My Favorites</li></a>
    <a href="/library"><li>My Library</li></a>
</ul>






    
>>>>>>> Stashed changes
    <!-- Search Section -->
    <section id="shelterSearch">
        <label for="title">Book Search</label>
        <select name="subjects" id="subject-select">
            <option value="">-- Search For... --</option>
            <option value="Title">Book Title</option>
            <option value="author">Author</option>
            <option value="publisher">Publisher</option>
            <option value="genre">Genre</option>
            <option value="ISBN">ISBN</option>
        </select>
        <span>
            <input id='title' type="text" placeholder="To Kill a Mockingbird">
            <button id="searchButton">search</button>
        </span>
    </section>

<<<<<<< Updated upstream

    <!-- Navigation Bar -->

    <ul>
        <a href="/signUp"> <button>Sign Up/Login</button></a>
    </ul>
    </nav>



    <script src="script.js" defer></script>
</body>

=======
    
    <!-- Navigation Bar -->
    
        <ul>   
            <a href="/kids"><li>Kids Corner</li></a>   
            <a href="/views/index.ejs"> <button>Sign Up/Login</button></a>
        </ul>
    </nav>
      

 
    <script src="script.js" defer></script>
</body>
>>>>>>> Stashed changes
</html>