<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE</title>
    <link rel="stylesheet" href="stylesheets/nav.css">
</head>
<body>
    <!-- Search Section -->
    <nav>
        <div id="shelterSearch">
        <img src="/images/logofinal.png" alt="Book Worm Logo">
       
        <span id="search-box">
            <input id='title' type="text" placeholder="To Kill a Mockingbird">
            <button id="searchButton">search</button>
        </span>

         <!-- <label for="title">Book Search</label> -->
         <select name="subjects" id="subject-select">
            <option value="">Search by</option>
            <option value="Title">Book Title</option>
            <option value="author">Author</option>
            <option value="publisher">Publisher</option>
            <option value="genre">Genre</option>
            <option value="ISBN">ISBN</option>
        </select>
    </div>
    
    <!-- Navigation Bar -->
    
        <ul>
            <a href="/home">
                <li><%= Name %></li>
            </a>
            <a href="/favorites"><li>My Favorite</li></a>
            <a href="/library"><li>My Library</li></a>  
            <a href="/kids"><li>Kids Corner!</li></a>
        </ul>
    </nav>
      
 
    <script src="script.js" defer></script>
</body>
</html>
