<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE</title>
    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <nav>
      <%- include('partials/nav') %>

    </nav>

    <section id="About_us">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Nec feugiat
             nisl pretium fusce id velit ut. Ac placerat vestibulum lectus mauris ultrices. Praesent semper feugiat 
             nibh sed pulvinar proin. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Aliquet lectus 
             proin nibh nisl. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Facilisi cras fermentum odio eu. 
             Cras semper auctor neque vitae tempus quam pellentesque nec. Mattis ullamcorper velit sed ullamcorper morbi tincidunt 
             ornare massa. Ultrices neque ornare aenean euismod. In dictum non consectetur a erat nam at lectus. Fermentum posuere 
             urna nec tincidunt praesent semper. Feugiat nibh sed pulvinar proin. Facilisi nullam vehicula ipsum a. Elit sed vulputate 
             mi sit amet mauris commodo quis. Habitant morbi tristique senectus et netus et.</p>
    </section>

    <section>
      <%- include('partials/search') %>
    </section>
    <div class="glide" class="car1">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides" id="sTrack">
          </ul>
          <div class="glide__arrows btnControls" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>
        </div>
      </div>
    <br />
    <br />
    <br />
      <div class="glide car2">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides" id="pTrack">
          </ul>
          <div class="glide__arrows btnControls" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
        <div class="glide car3">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides" id="tTrack">
            </ul>
            <div class="glide__arrows btnControls" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
              <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>

          </div>
        </div>
        <br />
        <br />
        <br />
          <div class="glide car4">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides" id="yTrack">
              </ul>
         
              <div class="glide__arrows btnControls" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
              </div>
    

            </div>
          </div>
      
   

    <script src="script.js" defer></script>
    
    <script src="/@glidejs/glide/dist/glide.min.js"></script>
    <script src="https://kit.fontawesome.com/c3792c3a55.js" crossorigin="anonymous"></script>
    <script>
        const subjects = ['COOKING','POETRY','DESIGN','POLITICAL SCIENCE','DRAMA','PSYCHOLOGY','TRAVEL','JUVENILE FICTION',
    'TRUE CRIME','JUVENILE NONFICTION','YOUNG ADULT FICTION' ];
        document.addEventListener('DOMContentLoaded', function() {
            
            // Call functions after import
            topBooks(document.getElementById('sTrack'),'.glide');
            // Call functions after import
            topBooks(document.getElementById('pTrack'),'.car2');
            // Call functions after import
            topBooks(document.getElementById('tTrack'),'.car3');
            // Call functions after import
            topBooks(document.getElementById('yTrack'),'.car4');
    
          
        });
    </script>
<footer>
  <%- include('partials/footer') %>
</footer>
</body>
</html>