<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE</title>
    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/@glidejs/glide/dist/css/glide.theme.min.css">

</head>
<body>
    <nav>
      <%- include('partials/nav') %>

    </nav>

    <section id="About_us">
        <h1>About Us</h1>
        <p>At Book Worm, our team is passionate about making your reading experience more delightful. We've created a user-friendly book tracker that allows you to store and manage your currently reading books and favorites. With Book Worm, your reading journey is just a click away whenever you log in.
          We understand the joy of discovering new books and the satisfaction of revisiting your favorite reads. Book Worm is designed to be your personal library companion, ensuring that your literary adventures are always at your fingertips.
          Thank you for choosing Book Worm. We're excited to be part of your reading adventures!</p>
    </section>

    <section class="search">
      <%- include('partials/search') %>
    </section>
    <div class="glide" class="car1">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides" id="sTrack">
          </ul>
          <div class="glide__arrows btnControls" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>
        </div>
      </div>
    <br />
    <br />
    <br />
      <div class="glide car2">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides" id="pTrack">
          </ul>
          <div class="glide__arrows btnControls" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
        <div class="glide car3">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides" id="tTrack">
            </ul>
            <div class="glide__arrows btnControls" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
              <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>

          </div>
        </div>
        <br />
        <br />
        <br />
          <div class="glide car4">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides" id="yTrack">
              </ul>
         
              <div class="glide__arrows btnControls" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
              </div>
    

            </div>
          </div>
      
   

    <script src="script.js" defer></script>
    
    <script src="/@glidejs/glide/dist/glide.min.js"></script>
    <script src="https://kit.fontawesome.com/c3792c3a55.js" crossorigin="anonymous"></script>
    <script>
        const subjects = ['COOKING','POETRY','DESIGN','POLITICAL SCIENCE','DRAMA','PSYCHOLOGY','TRAVEL','JUVENILE FICTION',
    'TRUE CRIME','JUVENILE NONFICTION','YOUNG ADULT FICTION' ];
        document.addEventListener('DOMContentLoaded', function() {
            
            // Call functions after import
            nyTopBooks(document.getElementById('sTrack'),'.glide');
            // Call functions after import
            topBooks(document.getElementById('pTrack'),'.car2');
            // Call functions after import
            topBooks(document.getElementById('tTrack'),'.car3');
            // Call functions after import
            topBooks(document.getElementById('yTrack'),'.car4');
    
          
        });
    </script>
<footer>
  <%- include('partials/footer') %>
</footer>
</body>
</html>