<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOPE</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="./node_modules/@glidejs/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    
</head>
<body>
    <nav>
        <ul>
            <li><%= Name %></li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
    </nav>

    <section id="About_us">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Nec feugiat
             nisl pretium fusce id velit ut. Ac placerat vestibulum lectus mauris ultrices. Praesent semper feugiat 
             nibh sed pulvinar proin. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Aliquet lectus 
             proin nibh nisl. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Facilisi cras fermentum odio eu. 
             Cras semper auctor neque vitae tempus quam pellentesque nec. Mattis ullamcorper velit sed ullamcorper morbi tincidunt 
             ornare massa. Ultrices neque ornare aenean euismod. In dictum non consectetur a erat nam at lectus. Fermentum posuere 
             urna nec tincidunt praesent semper. Feugiat nibh sed pulvinar proin. Facilisi nullam vehicula ipsum a. Elit sed vulputate 
             mi sit amet mauris commodo quis. Habitant morbi tristique senectus et netus et.</p>
    </section>
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides" id="sTrack">
          </ul>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>
        </div>
      </div>
      
    <section id="shelterSearch">
        <label for="title">Book Search</label>

        <select name="subjects" id="subject-select">
        <option value="">-- Search For... --</option>
        <option value="Title">Book Title</option>
        <option value="author">Author</option>
        <option value="publisher">Publisher</option>
        <option value="genre">Genre</option>
        <option value="ISBN">ISBN</option>
        </select>
        <span><input id='title' type="text" placeholder="To Kill a Mockingbird">
            <button id="searchButton" >search</button></span>
    </section>

    <h4>Search results</h4>
    <ul id="postList">
    </ul>
    <script src="script.js"></script>
    
    <script src="./node_modules/@glidejs/glide/dist/glide.min.js"></script>
    <script>
        const APIKEY = 'AIzaSyAr4Whl3injHd6SXT-1FJpfk648WqEy_ro';
        const subjects = ['COOKING','POETRY','DESIGN','POLITICAL SCIENCE','DRAMA','PSYCHOLOGY','TRAVEL','JUVENILE FICTION',
    'TRUE CRIME','JUVENILE NONFICTION','YOUNG ADULT FICTION' ];
        document.addEventListener('DOMContentLoaded', function() {
            
            // Call functions after import
            topBooks(document.getElementById('sTrack'));
    
            // If you want to call getBookData on button click
            document.getElementById('searchButton').addEventListener('click', function() {
                let title = document.getElementById('title');
                let sub = document.getElementById('subject-select');
                getBookData(
                    title.value,
                    sub.value,
                    document.getElementById('postList')
                );
                console.log(title)
                console.log(title.value)
            });
        });
    </script>

</body>
</html>