<!DOCTYPE html>
<html lang="en">
 <head>
   <!-- Required meta tags -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="/stylesheets/style.css">





   <title>Sign Up </title>
 </head>
 <body>
   <div class="container">
    <img class ='book-logo' src='/images/bookworm.png'>

     <h2 class="mt-5 mb-5 text-center text-primary">
       <b>Sign Up</b>
     </h2>

     <a href="/landing"><p><b>Continue as guest?</b></p></a>
     <div class="row mt-5">
       <div class="col-md-3">&nbsp;</div>
       <div class="col-md-6">
         <div class="card">
           <div class="card-header"></div>
           <div class="card-body">
             <form method="post" action="/login">
               <div class="mb-3">
                 <label>Email Address</label>
                 <input
                   type="email"
                   name="user_email_address"
                   class="form-control"
                 />
               </div>
               <div class="mb-3">
                <label>First Name</label>
                <input
                  type="text"
                  name="first_name"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label>Last Name</label>
                <input
                  type="text"
                  name="last_name"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label>Birthday</label>
                <input
                  type="date"
                  name="birthday"
                  class="form-control"
                />
              </div>
              <div class="mb-3">
                <label>Username</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                />
              </div>
               <div class="mb-3">
                 <label>Password</label>
                 <input
                   type="password"
                   name="user_password"
                   class="form-control"
                 />
               </div>
               <div>
                <a href="/Loggin"><p><b>Already have an account? Login</b></p></a>
               </div>
               <div class="mb-3">
                 <input type="submit" class="btn btn-primary" value="Login" />
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </body>
</html>

