main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(auto);
    grid-gap: 5px;
 
}


main img{
    height: auto;
    width: auto;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 25%;
}